streamlit>=1.36
pandas>=2.0
numpy>=1.24
plotly>=5.20
matplotlib>=3.8
scikit-learn>=1.4
nltk>=3.8
jieba>=0.42
opencc-python-reimplemented>=0.1.7
requests>=2.31
gensim>=4.3
spacy>=3.7,<3.8
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/zh_core_web_sm-3.7.0/zh_core_web_sm-3.7.0-py3-none-any.whl
transformers>=4.40
torch>=2.2
sentencepiece>=0.2
sacremoses>=0.1
